.design-btn {
  padding: 0 30px;
  height: 47px;
  @include flex-row;
  border-radius: 23.5px;
  border: 1px solid;
  font-family: PingFang SC;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  flex-shrink: 0;
}

@media screen and (max-width: 500px) {
  .design-btn {
    height: 32px;
    font-size: 14px;
    font-weight: 500;
  }
}
