.design-model-container {
  width: 100%;
  min-height: 600px;
  @include flex-column;
  position: relative;
  overflow: hidden;

  .init-container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include flex-row(space-between);

    .card {
      width: 420px;
      height: 512px;
      flex-shrink: 0;
      border-radius: 8px;
      padding: 20px;
      box-sizing: border-box;
      color: #fff;
      font-family: PingFang SC;
      background-size: cover;
      cursor: pointer;

      .title {
        margin-top: 295px;
        font-size: 37px;
        font-weight: 500;
      }
      .sub-title {
        height: 68px;
        font-size: 16px;
        font-weight: 400;
      }

      &:nth-child(1) {
        background-image: url(http://img1.comixai.online/website/txt2img/bg1.png);
      }
      &:nth-child(2) {
        background-image: url(http://img1.comixai.online/website/txt2img/bg2.png);
      }
      &:nth-child(3) {
        background-image: url(http://img1.comixai.online/website/txt2img/bg3.png);
      }
    }
  }
  .inner-container {
    width: 100%;
    height: 100%;
  }
}

.design-tab-inner {
  width: 100%;
  margin-top: 33px;

  .design-inner-row {
    @include full;
    flex-wrap: nowrap;
  }
  .design-inner-col {
    height: 100%;
    flex: 0 0 843px;
    &:not(:first-child) {
      margin-left: 32px;
    }
    .inner-title {
      color: #000;
      font-family: PingFang SC;
      font-size: 37px;
      font-weight: 400;
      margin-bottom: 13px;
    }
    .inner-desc {
      color: #5e5e65;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px; /* 166.118% */
      margin-bottom: 13px;
    }
    .inner-btns {
      @include flex-row(flex-start);
    }
  }
}

@media screen and (max-width: 500px) {
  .design-model-container {
    .init-container {
      @include flex-column(space-between);
      .card {
        width: 100%;
        height: 189px;
        flex-shrink: 0;
        border-radius: 12px;
        @include flex-column(flex-end, flex-start);
        .title {
          margin-top: auto;
          font-size: 24px;
        }
        .sub-title {
          font-size: 12px;
          line-height: 16px;
          height: auto;
        }
        .arco-divider {
          display: none;
        }
      }
    }
  }
  .design-tab-inner {
    margin-top: 15px;
    .design-inner-row {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .design-inner-col {
      flex: 0 0 auto;
      height: 416px;
      &:last-child {
        margin-left: 0;
        height: auto;
      }
      .inner-title {
        font-size: 24px;
        font-weight: 400;
        height: 59px;
        line-height: 59px;
      }
      .inner-desc {
        font-size: 14px;
        line-height: 20px; /* 142.857% */
      }
    }
  }
}

.design-model-container {
  .ChangeImage_backContainer,
  .ChangeImage_frontContainer {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
}