.contact-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  flex-shrink: 0;
  background-color: #fff;
  z-index: 1;
  .logo {
    cursor: pointer;
  }
}

.contact-content {
  padding-top: 156px;
  @include flex-row(space-between, flex-start);

  .contact-tip {
    > .title {
      color: #000;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 20px;
    }
    > .desc {
      color: #5e5e65;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }
  .form-class {
    width: 563px;
  }
  .submit-btn {
    width: 100%;
    border-radius: 37px;
    background: #3f58f6;
    height: 58px;
  }
}

@media screen and (max-width: 500px) {
  .contact-content {
    flex-direction: column;
    .contact-tip {
      margin: 20px 0;
      > .title {
        font-size: 24px;
        margin-bottom: 0;
        line-height: 32px; /* 133.333% */
      }
      > .desc {
        font-size: 14px;
        line-height: 26.579px; /* 189.85% */
      }
    }
    .submit-form {
      width: 100%;

      .form-class {
        width: 100%;
      }
    }
    .submit-btn {
      height: 48px;
    }
  }
}
