.container {
  @include full;

  .carouselItem {
    @include full;
    @include flex-row;
    overflow: hidden;
    position: relative;

    .diffImgItem {
      @include full;
      flex: 1;
      position: relative;
      .imgTag {
        position: absolute;
        left: 14px;
        bottom: 15px;
        height: 36px;
        padding: 0 18px;
        @include flex-row;
        border-radius: 23.5px;
        border: 1px solid #fff;
        background: rgba(255, 255, 255, 0.38);

        color: #fff;
        font-family: PingFang SC;
        font-size: 13px;
        font-weight: 500;
      }

      &:nth-child(2n) .imgTag {
        right: 14px;
        left: auto;
      }
    }

    .imgItem {
      @include full;
      overflow: hidden;
      object-fit: cover;
    }

    .imgDesc {
      color: #fff;
      width: 805px;
      position: absolute;
      left: 18px;
      right: 18px;
      bottom: 14px;
      padding: 10px 20px;
      box-sizing: border-box;
      flex-shrink: 0;
      border: 1px solid #464646;
      background: rgba(0, 0, 0, 0.4);
      .descTitle {
        font-family: PingFang SC;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 8px;
      }
      .descContent {
        font-family: PingFang SC;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
      }
    }
  }

  .arrowClassName {
    > div {
      width: 52px;
      height: 52px;
      flex-shrink: 0;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 0;
      > svg {
        font-size: 24px;
      }
    }
    > div:nth-child(1) {
      left: 0;
    }
    > div:nth-child(2) {
      right: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    .carouselItem {
      .diffImgItem .imgTag {
        display: none;
      }
      .imgDesc {
        width: auto;
        left: 6px;
        right: 6px;
        bottom: 6px;
        padding: 4px 8px;
        flex-shrink: 0;
        .descTitle {
          font-size: 14px;
          margin-bottom: 4px;
        }
        .descContent {
          font-size: 12px;
        }
      }
    }
    .arrowClassName > div {
      width: 28px;
      height: 28px;
      > svg {
        font-size: 16px;
      }
    }
  }
}
