.backContainer {
  @include full;
  position: relative;

  .imgTag {
    position: absolute;
    white-space: nowrap;
    right: 14px;
    bottom: 15px;
    height: 36px;
    padding: 0 18px;
    @include flex-row;
    border-radius: 23.5px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.38);

    color: #fff;
    font-family: PingFang SC;
    font-size: 13px;
    font-weight: 500;
  }

  .frontContainer {
    @include full;
    position: absolute;
    left: 0;
    top: 0;
    animation: change 15s linear alternate infinite;
    overflow: hidden;
    .imgTag {
      left: 14px;
      right: auto;
    }
  }

  @keyframes change {
    0% {
      width: 0;
    }
    20% {
      width: 0;
    }
    40% {
      width: 100%;
    }
    60% {
      width: 100%;
    }
    80% {
      width: 0;
    }
    100% {
      width: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .backContainer .imgTag {
    display: none;
  }
}
