.room-model-container {
  width: 100%;
  // @include flex-column;
}

.room-tab-inner {
  width: 100%;
  margin-top: 33px;

  .room-inner-row {
    @include full;
    height: auto;
    flex-wrap: nowrap;
  }
  .room-inner-col {
    height: 478px;
    flex: 0 0 843px;
    &:not(:first-child) {
      margin-left: 32px;
    }
    .inner-title {
      color: #000;
      font-family: PingFang SC;
      font-size: 37px;
      font-weight: 400;
      margin-bottom: 13px;
    }
    .inner-desc {
      color: #5e5e65;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px; /* 166.118% */
      margin-bottom: 13px;
    }
    .inner-btns {
      @include flex-row(flex-start);
    }
  }
}

@media screen and (max-width: 500px) {
  .room-tab-inner {
    margin-top: 15px;
    .room-inner-row {
      flex-wrap: wrap;
    }
    .room-inner-col {
      flex: 0 0 auto;
      height: 200px;
      &:last-child {
        margin-left: 0;
      }
      .inner-title {
        font-size: 24px;
        font-weight: 400;
        height: 59px;
        line-height: 59px;
      }
      .inner-desc {
        font-size: 14px;
        line-height: 20px; /* 142.857% */
      }
    }
  }
}
